<div id="main_wrapper" class="onepcssgrid-1000">
  <header class="onerow col4 offset5">
    <h1 class="last"><span id="sabor">Catering</span><br /><span id="latino">by Miguel</span></h1>
  </header>

  <nav class="onerow col12">
    <ul>
      <li class="col3">       <%= link_to 'Menu', static_pages_menu_path       %> </li>
      <li class="col3">       <%= link_to 'About', static_pages_about_path     %> </li>
      <li class="col3">       <%= link_to 'Contact', static_pages_contact_path %> </li>
    </ul>
  </nav>

  <div class="page_container" id="main_container">
    <div id="carousel">
  
        <%= image_tag('image1.jpg', :class => "food_carousel") %>
        <%= image_tag('image2.jpg', :class => "food_carousel") %>
        <%= image_tag('image3.jpg', :class => "food_carousel") %>
        <%= image_tag('image4.jpg', :class => "food_carousel") %>
        <%= image_tag('image5.jpg', :class => "food_carousel") %>
        <%= image_tag('image6.jpg', :class => "food_carousel") %>
      
    </div>
  </div>
  </div>

  <div class="page_container" id="gallery_container">
  </div>

  <div class="page_container" id="about_container">
  </div>

  <div class="page_container" id="contact_container">
  </div>

  <div class="page_container" id="menu_container">
  </div>

  <div class="page_container" id="blog_container">
  </div>


</div>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.