<div id="main_wrapper">

  <div class="page_container" id="main_container">
    <div id="carousel" class="row span12">
        <%= image_tag('image1.jpg', :class => "food_carousel") %>
        <%= image_tag('image2.jpg', :class => "food_carousel") %>
        <%= image_tag('image3.jpg', :class => "food_carousel") %>
        <%= image_tag('image4.jpg', :class => "food_carousel") %>
        <%= image_tag('image5.jpg', :class => "food_carousel") %>
        <%= image_tag('image6.jpg', :class => "food_carousel") %> 
    </div>
  </div>
</div>


